h3.ucr-collections-page-category-title {
  margin-top: 2.5rem !important;
}

input#edit-general{
  &::placeholder {
    color: #858e96;
  }
}


.ucr-collections-page-items-container {
  margin-bottom: 2rem;
}
