$faq-link-hover-background: #234674;
$faq-link-hover-text: $white;
$faq-link-hover-border: $ucr-white-4;
$faq-group-title: $blue-700;
main {
  > div {
    &#content-container {
      .faq-question-accordion {
        ul {
          &.accordion {
            li {
              &.accordion-item {
                a {
                  &:hover {
                    background: $faq-link-hover-background;
                    color: $faq-link-hover-text;
                    border-bottom: solid 1px $faq-link-hover-border;
                  }
                }
                p {
                  &:last-child {
                    margin: 0;
                  }
                }
              }
              &.is-active {
                a.accordion-title {
                  background: $faq-link-hover-background;
                  color: $faq-link-hover-text;
                }
              }
            }
            margin-bottom: 0;
          }
        }
        h4 {
          &.faq-group-title {
            color: $faq-group-title;
            margin-top: 2rem;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}