main {
  > div {
    &#content-container {
      .latest-events-view {
        ol {
          margin: 0;
          padding: 0;
        }
        li {
          list-style: none;
        }
        .event {
          border-top: 0px none;
          margin-bottom: 0;
        }
        header {
          background: none;
          box-shadow: none;
          position: relative;
        }
        .cell {
          position: relative;
        }
        img {
          object-fit: cover;
          position: absolute;
          width: 100%;
          @include breakpoint(medium) {
            height: 100%;
            width: 100%;
          }
        }
        .link-wrapper {
          a {
            display: block;
            font-size: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 3;
          }
        }
        .event-card {
          min-height: 300px;
          max-height: 352px;
          position: relative;
          overflow: hidden;
          @include breakpoint(medium) {
            min-height: 292.5px;
          }
          &:hover {
            .event-overview {
              background: rgba(0, 0, 0, 0.7);
              min-height: 100%;
              filter: blur(0px) !important;
            }
            .more-text {
              max-height: 300px;
              opacity: 1;
            }
          }
        }
        .event-overview {
          background: rgba(0, 0, 0, 0.5);
          bottom: 0;
          box-sizing: border-box;
          color: $white;
          min-height: 0;
          left: 0;
          padding: 30px;
          position: absolute;
          transition: all 0.75s ease;
          width: 100%;
          z-index: 2;
        }
        .more-text {
          max-height: 0;
          overflow: hidden;
          opacity: 0;
          transition: opacity 0.5s linear;
        }
        .month {
          font-family: "Fira Sans Regular", sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 1em;
          margin-bottom: 3px;
        }
        .time {
          font-family: "Fira Sans Regular", sans-serif;
          font-size: 16px;
          line-height: 1em;
          margin-bottom: 16px;
        }
        .title {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.2em;
        }
        .body {
          font-size: 16px;
          margin-bottom: 6px;
          margin-top: 10px;
          max-height: 75px;
          overflow: hidden;
        }
        .event-link {
          a {
            color: $ucr-peach;
            display: block;
            font-size: 16px;
            font-weight: 700;
            margin-top: 8px;
            text-decoration: none;
            &::after {
              display: none;
              content: "";
            }
          }
        }
      }
      .localist-widget-hl .event-card header {
        z-index: 1;

        .event-title{
          background: rgba(0,0,0,0.5) left top;
          bottom: 0;
          color: #fff;
          font-weight: 800;
          left: 0;
          overflow: hidden;
          padding: 7px 20px 5px;
          position: absolute;
          text-overflow: ellipsis;
          width: 100%;
          white-space: nowrap;
          z-index: 1;
          line-height: 1.875rem;
          font-size: .8125rem;
          font-family: "Fira Sans Regular",Helvetica,Arial,sans-serif;
          margin: 0;
          outline: 0;
          vertical-align: baseline;
          border: 0;
        }
      }
    }
  }
}
