{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('ucr_news_articles/ucr_news_slick') }}
{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
<div class="una-articles-featured-slider margin-bottom-2" data-slick='{"dots":true,"infinite":true,"speed":800,"fade":true,"cssEase":"linear","autoplay":true,"autoplaySpeed":8000,"draggable":false}'>
    {% for row in rows %}
        {%
            set row_classes = [
            'featured-item',
        ]
        %}
        <div{{ row.attributes.addClass(row_classes) }}>
            {{- row.content -}}
        </div>
    {% endfor %}
</div>
