<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <div class="one-column">
        <div class="main-region">
            {{ content.main }}
        </div>
      </div>
    </div>
  </div>
</div>