
<div class="cell small-order-3 medium-order-3 main-nav-bar">
    <div class="main-menu-outer-container">
      <div class="grid-container" id="main-menu-container" data-animate="slide-in-right slide-out-right">
          <div class="grid-x">
              {% if content %} {{ content }} {% endif %}
          </div>
      </div>
    </div>
</div>
