{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{{ attach_library('ucr_majors/majors_globals') }}
<div class="grid-container full student_majors_selection">
    <div class="grid-x grid-padding-x grid-padding-y align-middle">
        <div class="cell small-12 medium-3 large-2 pre-text">
            <p>I want to Major in:</p>
        </div>
        <div class="cell small-9 medium-7 large-9">
            <select id="majorList">
                {% for row in rows %}
                    {{- row.content -}}
                {% endfor %}
            </select>
        </div>
        <div class="cell small-3 medium-2 large-1">
            <button type="button" class="button" id="getMajor">GO</button>
        </div>
    </div>
</div>