main {
  > div {
    &#content-container {
      .una-awards-header-post {
        color: $white;
        margin-bottom: 0;
        padding-bottom: 16px;
        @include breakpoint(medium) {
          margin-bottom: 24px;
          padding-bottom: 24px;
          border-bottom: 1px solid $ucr-grey-1;
        }
        .una-awards-header-post-content {
          .una-awards-header-date {
            font-family: $font-family-montserrat;
            font-weight: bold;
            font-size: 11px;
            line-height: 14px;
            color: #6f7780;
            padding-bottom: 0.9375rem;
            span {
              display: inline-block;
              border-bottom: 2px solid #215AA7;
              padding-bottom: 8px;
            }
          }
          .una-awards-header-overlay {
            padding: 10px 0 0 0;
            @include breakpoint(medium) {
              padding: 24px 0 0 0;
            }
            h1 {
              color: #000000;
              font-family: $font-family-roboto;
              font-weight: bold;
              font-size: 24px;
              line-height: 30px;
              @include breakpoint(medium) {
                font-size: 40px;
                line-height: 48px;
              }
            }
          }
        }
      }
    }
  }
}